[Unit]
Description=FEFU Lab Gunicorn daemon
After=network.target postgresql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/fefu_lab/web_fefu_2025/web_2025
Environment="DJANGO_ENV=production"
Environment="PATH=/var/www/fefu_lab/venv/bin"
Environment="DJANGO_SECRET_KEY=+2awms*v^pzep%w#+2_2%0m$^eo&8#9tkmj329kzujb@35g6oo"
Environment="DB_NAME=fefu_lab_db"
Environment="DB_USER=fefu_user"
Environment="DB_PASSWORD=ghostpass"
Environment="DB_HOST=localhost"
Environment="DB_PORT=5432"

ExecStart=/var/www/fefu_lab/web_fefu_2025/venv/bin/gunicorn \
    --config /var/www/fefu_lab/web_fefu_2025/deploy/gunicorn/config.py \
    web_2025.wsgi:application  

Restart=always
RestartSec=3
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target